.account-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 40px;

  @media (max-width: 992px) {
    margin: 40px 20px;
  }

  &__title {
    display: flex;
    font-weight: 500;
    align-items: center;
    margin-top: 30px;
    flex-basis: 100%;
    font-size: 2rem;

    @media (max-width: 992px) {
      font-size: 1.5rem;
    }

    @media (max-width: 576px) {
      font-size: 1.3rem;
    }
  }

  &__title::after {
    content: '';
    display: flex;
    background-color: $secondary-color;
    margin-left: 10px;
    margin-right: 20px;
    flex-grow: 1;
    height: 2px;
  }

  &__actions {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.1);

    & svg {
      font-size: 2rem;
    }
  }
}
