.header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: fixed;
  z-index: 10000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

  &__topbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 20px;
    padding-right: 20px;
    flex-basis: 100%;
    min-height: 90px;

    @media (max-width: 992px) {
      flex-wrap: wrap;
    }

    @media (max-width: 576px) {
      padding: 0;
    }
  }

  &__navbar {
    display: flex;
    min-height: 40px;
    background-color: $primary-color;
    color: $white-color;
    flex-basis: 100%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);

    & .navbar__categories {
      margin: 10px 0;
      padding-left: 0;
      list-style-type: none;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(8, auto);
      text-transform: uppercase;
      font-weight: 200;
      align-items: center;
      flex-basis: 100%;

      @media (max-width: 1450px) {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(4, 1fr);
      }
      @media (max-width: 992px) {
        display: none;
      }

      & li {
        font-size: 0.85rem;
        text-align: center;

        @media (max-width: 1450px) {
          margin: 5px 0;
        }

        & a {
          color: $white-color;
        }
      }
    }
  }
}

.topbar {
  background-color: $white-color;
  color: $primary-color;

  &__link {
    width: 330px;
    padding: 20px;

    @media (max-width: 992px) {
      flex-basis: 100%;
      text-align: center;
    }

    @media (max-width: 576px) {
      padding: 20px 5px;
    }
  }

  &__logo {
    max-width: 100%;

    @media (max-width: 992px) {
      width: 300px;
    }
  }

  &__searchbar {
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-grow: 1;
    margin: 0 50px;

    @media (max-width: 1200px) {
      margin: 0 25px;
    }

    @media (max-width: 992px) {
      flex-basis: 100%;
    }

    @media (max-width: 576px) {
      margin: 5px 15px;
    }
  }

  &__aside {
    flex-basis: 30%;
    display: flex;
    justify-content: end;
    align-items: center;

    @media (max-width: 1200px) {
      flex-basis: 38%;
    }

    @media (max-width: 992px) {
      flex-basis: 100%;
      justify-content: center;
      margin: 15px 0;
    }

    @media (max-width: 576px) {
      justify-content: space-evenly;
    }
  }
}

.navbar {
  @media (min-width: 992px) {
    &--skipped {
      display: none;
    }
  }

  &__categories-toggle {
    flex-basis: 100%;
    font-weight: 100;

    &--small {
      display: none;
      justify-content: center;
      align-items: center;
      font-weight: 200;
      cursor: pointer;

      &:hover {
        font-weight: 400;
      }
    }

    @media (max-width: 992px) {
      &--small {
        display: flex;
      }
    }
  }

  &__categories-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__category {
    margin-left: 20px;
    margin-right: 20px;
    &:hover {
      cursor: pointer;
      font-weight: 400;
    }

    &--all {
      display: none;

      @media (max-width: 992px) {
        display: flex;
      }
    }
  }
}

.categories-menu {
  &--toggled {
    display: flex;
  }

  &__close {
    position: absolute;
    color: $primary-color;
    font-size: 3rem;
    top: 30px;
    right: 30px;
    cursor: pointer;
    display: flex;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  & li {
    font-size: 1.5rem;
    margin: 10px 0;

    &:hover {
      font-weight: 600;
      font-size: 1.6rem;
    }
  }
}

.searchbar {
  &__wrapper {
    display: flex;
    align-items: stretch;
    width: 100%;
    min-width: 150px;
    position: relative;
  }

  &__results {
    position: absolute;
    top: 120%;
    left: 50%;
    width: 100%;
    max-height: 460px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: -50%;
    z-index: 10000;
    background-color: $white-color;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }

  &__input {
    width: 100%;
    background-color: $accent-color;
    color: $accent-dark-color;
    border: 0;
    padding: 10px 20px;
  }

  &__btn {
    background-color: $primary-color;
    color: $white-color;
    border: 0;
    padding: 10px;
  }
}

.option-info {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-right: 20px;

  @media (max-width: 576px) {
    margin-right: 0;
  }

  &__link {
    background-color: $accent-color;
    color: $accent-dark-color;
    border: 0;
    padding: 10px 15px;
    text-decoration: none;
  }

  &__icon {
    display: flex;
    align-items: center;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;

    background-color: $primary-color;
    color: $white-color;

    &--secondary {
      background-color: $secondary-color;
      color: $white-color;
    }
  }

  &__notification {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color;
    width: 20px;
    height: 20px;
    bottom: -10px;
    right: -10px;
  }
}

.search-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;

  &__image {
    width: 25px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    flex-basis: 10%;
  }

  &__name {
    font-size: 0.9rem;
  }

  &__info {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
  }

  &__category {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.3);
  }

  &__price {
    font-size: 1.3rem;
    color: $secondary-color;
  }
}
