.order-details-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 40px;

  &__title {
    display: flex;
    align-items: center;
    margin-top: 30px;
    flex-basis: 100%;
    font-size: 2rem;
  }

  &__title::after {
    content: '';
    display: flex;
    background-color: $secondary-color;
    margin-left: 10px;
    margin-right: 20px;
    flex-grow: 1;
    height: 2px;
  }

  &__form {
    flex-basis: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.order-details-form {
  &__form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &__delivery {
    flex-basis: 40%;
  }

  &__invoice {
    flex-basis: 40%;
  }

  &__save-order-details {
    margin-top: 60px;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }

  &__cancel {
    display: flex;
    padding: 10px 20px;
  }

  &__save {
    display: flex;
    background-color: $white-color;
    color: $primary-color;
    border: 2px solid $primary-color;
    padding: 8px 20px;
  }
}

.delivery-form,
.invoice-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  padding-bottom: 30px;

  &--disabled {
    background-color: rgba(0, 0, 0, 0.02);
  }

  &__title {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    margin-top: 40px;
    margin-bottom: 50px;

    & input {
      width: 20px;
      height: 20px;
    }
  }

  & > div.text-input {
    $this: &;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 5px;

    .text-input__top-label {
      margin-left: 10px;
      font-size: 0.9rem;
    }

    .text-input__input {
      width: 350px;
      margin: 5px 0;
      padding: 10px 15px;
      background-color: rgba(0, 0, 0, 0.1);
      border: 0;
      color: $primary-color;

      &--disabled {
        background-color: rgba(0, 0, 0, 0.03);
      }
    }

    .text-input__text-input::placeholder {
      color: $primary-color;
      opacity: 1;
    }

    .text-input__text-input:-ms-input-placeholder {
      color: $primary-color;
    }

    .text-input__text-input::-ms-input-placeholder {
      color: $primary-color;
    }
  }

  &__address {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 380px;
    margin: 5px 0;
    justify-content: space-between;

    & .text-input {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      margin-top: 2px;
      margin-bottom: 2px;

      &__top-label {
        margin-left: 10px;
        margin-bottom: 5px;
        font-size: 0.9rem;
      }

      &__input {
        margin: 2px 0;
        padding: 10px 10px;
        background-color: rgba(0, 0, 0, 0.1);
        border: 0;
        color: $primary-color;
        &--disabled {
          background-color: rgba(0, 0, 0, 0.03);
        }
      }
    }

    & .text-input:nth-child(1) {
      flex-basis: 100%;
    }

    & .text-input:nth-child(2) {
      flex-basis: 10%;
    }

    & .text-input:nth-child(3) {
      flex-basis: 20%;
    }
  }
}

.order-success-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px 40px;
  align-items: center;

  &__title {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 10px;
  }

  &__delivery-and-payment {
    & h3 {
      font-weight: 300;
      margin: 10px 0;
    }
  }

  &__package {
    font-size: 10rem;
    color: $primary-color;
  }

  &__products-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px 10px;
    list-style-type: none;

    &--1 {
      grid-template-columns: repeat(1, 1fr);
    }

    &--2 {
      grid-template-columns: repeat(2, 1fr);
    }

    & li {
      padding: 10px 20px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      width: 200px;
    }
  }

  &__order-info {
    display: flex;
    flex-direction: row;

    & > div {
      margin: 10px 20px;
      padding: 20px 40px;
      background-color: rgba(0, 0, 0, 0.03);
    }

    & table {
      border-spacing: 20px 5px;
    }
  }

  &__no-invoice {
    display: flex;
    flex-direction: column;
    align-items: center;

    & svg {
      margin: 10px;
      font-size: 2.5rem;
    }
  }

  &__actions {
    display: flex;
    margin: 40px 0;

    & button {
      display: flex;
      padding: 10px 20px;
      margin: 0px 10px;
    }
  }

  &__go-to-store {
    border: 2px solid $primary-color;
  }

  &__go-to-account {
    background-color: $white-color;
    color: $primary-color;
    border: 2px solid $primary-color;
  }
}
