.products-page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 20px 40px;
  min-height: calc(100vh - 110px);
  justify-content: space-evenly;

  & .categories-list {
    flex-basis: 25%;
  }

  & .products-view {
    flex-basis: 65%;
  }
}

.categories-list {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: 300;
  }

  &__header::after {
    content: '';
    display: flex;
    background-color: $secondary-color;
    flex-grow: 1;
    margin-left: 10px;
    height: 2px;
  }

  &__items {
    list-style-type: none;
  }

  &__item {
    &--selected {
      background-color: rgba(0, 0, 0, 0.1);
    }

    span {
      display: block;
      padding-left: 10px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  &__item:hover {
    background-color: $primary-color;
    color: $white-color;

    &::after {
      background-color: $white-color;
    }
  }

  &__item::after {
    content: '';
    display: block;
    position: relative;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.products-view {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  &__headline {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__view-btn {
    background: none;
    border: none;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.4);

    &--active {
      color: $secondary-color;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    flex-basis: 70%;
    font-size: 1.8rem;
    font-weight: 300;
  }

  &__header::after {
    content: '';
    display: flex;
    background-color: $secondary-color;
    margin-left: 10px;
    margin-right: 20px;
    flex-grow: 1;
    height: 2px;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    flex-basis: 30%;
  }

  &__products-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__selected-category {
    display: flex;
    margin-top: 5px;
    margin-bottom: 50px;
    justify-content: space-evenly;
    align-items: center;

    & img {
      width: 250px;
      margin-right: 20px;
    }

    & p {
      text-align: justify;
    }
  }

  &__products {
    display: grid;
    grid-template-rows: auto;
    margin-bottom: 50px;

    &--grid {
      grid-template-columns: repeat(3, 1fr);
      gap: 15px 15px;
    }

    &--list {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 15px;
    }
  }

  &__product {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.load-more {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background: linear-gradient(rgba(1, 36, 84, 0.8), rgba(1, 36, 84, 0.8)),
    url('https://upload.wikimedia.org/wikipedia/commons/0/0b/Mountains-1412683.svg');
  background-size: cover;
  background-position: center;

  &__icon {
    font-size: 6rem;
    margin: 20px 0;
  }

  &__text {
    margin: 5px 0;
    font-size: 1.1rem;
    font-weight: 300;
  }
}

.product {
  $this: &;
  display: flex;
  position: relative;

  &--grid {
    padding-left: 5px;
    padding-right: 5px;
    flex-direction: column;
    align-items: center;

    #{$this}__sale {
      background-color: $secondary-color;
      color: $white-color;
      position: absolute;
      top: 15px;
      right: 20px;
      padding: 10px;
      z-index: 1;
    }

    #{$this}__the-new {
      background-color: rgba(0, 0, 0, 0.1);
      color: $primary-color;
      position: absolute;
      top: 15px;
      left: 20px;
      padding: 10px;
      z-index: 1;
      display: flex;
      align-items: center;
    }

    #{$this}__image {
      max-width: 250px;
      padding: 30px;
    }

    #{$this}__info {
      padding-left: 10px;
      padding-right: 10px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    #{$this}__name {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1.8rem;
      font-weight: 500;
    }

    #{$this}__price {
      font-size: 1.4rem;
      color: $secondary-color;
      margin-top: 0;
      margin-bottom: 10px;
      font-weight: 600;
      padding: 10px;
      padding-left: 0;
    }

    #{$this}__price-after-sale {
      font-size: 1.5rem;
      font-weight: 800;
    }

    #{$this}__price-before-sale {
      font-size: 1.2rem;
      margin-left: 10px;
      text-decoration: line-through;
      font-weight: 400;
      background-color: rgba(0, 0, 0, 0.05);
      color: rgba(0, 0, 0, 0.4);
      padding: 5px;
    }

    #{$this}__minimal-amount {
      font-size: 1.2rem;
      margin-left: 10px;
      font-weight: 600;
      background-color: rgba(0, 0, 0, 0.05);
      color: rgba(0, 0, 0, 0.4);
      padding: 5px;
    }

    #{$this}__desc {
      margin-top: 0;
      font-weight: 100;
    }

    #{$this}__add-to-cart {
      border: 0px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 5px;
      background-color: rgba(0, 0, 0, 0.05);
      color: $primary-color;
      cursor: pointer;
      align-self: stretch;
    }
  }

  &--list {
    flex-direction: row;

    #{$this}__image {
      position: relative;
      max-width: 200px;
      padding: 20px;
    }

    #{$this}__sale {
      background-color: $secondary-color;
      color: $white-color;
      position: absolute;
      top: 60px;
      left: 20px;
      padding: 10px;
      z-index: 1;
    }

    #{$this}__price-after-sale {
      font-size: 1.5rem;
      font-weight: 800;
    }

    #{$this}__price-before-sale {
      font-size: 1.2rem;
      margin-left: 10px;
      text-decoration: line-through;
      font-weight: 400;
      background-color: rgba(0, 0, 0, 0.05);
      color: rgba(0, 0, 0, 0.4);
      padding: 5px;
    }

    #{$this}__the-new {
      background-color: rgba(0, 0, 0, 0.1);
      color: $primary-color;
      position: absolute;
      top: 15px;
      left: 20px;
      padding: 10px;
      z-index: 1;
      display: flex;
      align-items: center;
    }

    #{$this}__name {
      margin-top: 20px;
      margin-bottom: 0;
      font-size: 1.8rem;
      font-weight: 500;
    }

    #{$this}__price {
      font-size: 1.3rem;
      color: $secondary-color;
      margin-top: 0;
      margin-bottom: 10px;
      font-weight: 400;
    }

    #{$this}__desc {
      margin-top: 0;
      font-weight: 100;
    }

    #{$this}__add-to-cart {
      border: 0px;
      padding-left: 10px;
      padding-right: 10px;
      background-color: rgba(0, 0, 0, 0.05);
      color: $primary-color;
      cursor: pointer;
    }
  }
}

.filters {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: auto;
  row-gap: 10px;

  &__price {
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;

    & input {
      width: 100px;
      border: none;
      background-color: rgba(0, 0, 0, 0.05);
      margin: 5px;
      padding: 10px;
    }
  }

  &__sale {
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;

    & input {
      border: none;
      background-color: rgba(0, 0, 0, 0.05);
      margin: 5px;
      padding: 10px;
    }
  }

  &__name {
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;

    & input {
      width: 230px;
      border: none;
      background-color: rgba(0, 0, 0, 0.05);
      margin: 5px;
      padding: 10px;
    }
  }

  &__storage {
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;

    & input {
      width: 130px;
      border: none;
      background-color: rgba(0, 0, 0, 0.05);
      margin: 5px;
      padding: 10px;
    }
  }

  &__producer,
  &__gender {
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 20px;
    padding-bottom: 20px;

    & h4 {
      flex-basis: 30%;
      margin-left: 10px;
      margin-right: 10px;
    }

    & form {
      display: flex;
      flex-direction: column;
    }
  }

  &__apply-btn {
    background-color: $primary-color;
    color: $white-color;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.1rem;
    border: 0;
  }

  &__filter-icon {
    margin-left: 10px;
  }
}
